.SearchBar {
  height: 40px;
  outline: none;
  border: none;
  border-radius: 10px;
  background: #837F7F;
  color: white;
  padding-left: 10px;
}

@media only screen and (max-width: 600px) {
  .SearchBar {
    width: 95%;
  }
}
@media only screen and (min-width: 600px) {
  .SearchBar {
    width: 95%;
  }
}
@media only screen and (min-width: 768px) {
  .SearchBar {
    width: 95%;
  }
}
@media only screen and (min-width: 992px) {
  .SearchBar {
    width: 55%;
  }
}
@media only screen and (min-width: 1200px) {
  .SearchBar {
    width: 55%;
  }
}

.SearchBar::placeholder {
  color: white;
}